.Home{
    position: relative;
    display: grid;
    grid-template-columns: 15rem auto 20rem;
    gap: 1rem;
}

@media screen and (max-width:1200px) {
    .Home{
     
     grid-template-columns: 20% 55% 20rem;
     overflow-y: scroll;
    }
    
  }
  @media screen and (max-width:768px){
      .Home{
        grid-template-columns: 1fr;
  
      }
  
      .Home::-webkit-scrollbar{
        display: none;
  
      }
  }