:root {
  --yellow: #f72f0b;
  --orange: #4166e0;
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(242, 7, 7, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg: linear-gradient(98.63deg, #4c4ece 0%, #5e53ee 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #4CB256;
  --video: #4A4EB7;
  --location: #948888;
--shedule: #5590c0;
}


.App{
  overflow: hidden;
  color: var(--black);
  background:white;
  
}
.blur{
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background-color: #a6ddf0;
  filter: blur(72px);
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(13, 13, 13);
  border: none;
  border-radius: 0.5rem;
  background: var(--buttonBg);
  transition: all 100s ease-out;
}

.button:hover{
  cursor: pointer;
  color: var(--orange);
  background: rgb(100, 29, 29);
  border: 2px solid var(--orange);

}
.button:disabled{
  background: silver;
  pointer-events: none;
}

::-webkit-scrollbar{
  display: none;
  
}


